Introdução NET e Servicos WCF/src/JBSViaFacilSemParar/TestesIntegrados/Service References/ServicoDeDadosJBS/ServicoDeDadosJBS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/JBSDAL" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/JBSDAL" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfVeiculoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VeiculoDTO" nillable="true" type="tns:VeiculoDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVeiculoDTO" nillable="true" type="tns:ArrayOfVeiculoDTO" />
  <xs:complexType name="VeiculoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Categoria" type="xs:int" />
      <xs:element minOccurs="0" name="Placa" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VeiculoDTO" nillable="true" type="tns:VeiculoDTO" />
</xs:schema>