Introdução NET e Servicos WCF/src/JBSViaFacilSemParar/TestesIntegrados/Service References/ServicoDeDadosJBS/ServicoDeDadosJBS2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/ServicoDeDadosJBS.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/JBSDAL" />
  <xs:element name="RetornarListaDeVeiculos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetornarListaDeVeiculosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/JBSDAL" minOccurs="0" name="RetornarListaDeVeiculosResult" nillable="true" type="q1:ArrayOfVeiculoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InserirVeiculo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/JBSDAL" minOccurs="0" name="veiculo" nillable="true" type="q2:VeiculoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InserirVeiculoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InserirVeiculoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>