Introdução NET e Servicos WCF/src2/JBS/IntegradorJBSSemParar/Service References/ServicoDeDados/DadosVeiculo.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DadosVeiculo" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:28355/ServicoDeDadoDeVeiculo.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:28355/ServicoDeDadoDeVeiculo.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:28355/ServicoDeDadoDeVeiculo.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DALVeiculo" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDadosVeiculo_retornarVeiculos_InputMessage">
    <wsdl:part name="parameters" element="tns:retornarVeiculos" />
  </wsdl:message>
  <wsdl:message name="IDadosVeiculo_retornarVeiculos_OutputMessage">
    <wsdl:part name="parameters" element="tns:retornarVeiculosResponse" />
  </wsdl:message>
  <wsdl:message name="IDadosVeiculo_Correr_InputMessage">
    <wsdl:part name="parameters" element="tns:Correr" />
  </wsdl:message>
  <wsdl:message name="IDadosVeiculo_Correr_OutputMessage">
    <wsdl:part name="parameters" element="tns:CorrerResponse" />
  </wsdl:message>
  <wsdl:message name="IDadosVeiculo_inserirVeiculo_InputMessage">
    <wsdl:part name="parameters" element="tns:inserirVeiculo" />
  </wsdl:message>
  <wsdl:message name="IDadosVeiculo_inserirVeiculo_OutputMessage">
    <wsdl:part name="parameters" element="tns:inserirVeiculoResponse" />
  </wsdl:message>
  <wsdl:portType name="IDadosVeiculo">
    <wsdl:operation name="retornarVeiculos">
      <wsdl:input wsaw:Action="http://tempuri.org/IDadosVeiculo/retornarVeiculos" message="tns:IDadosVeiculo_retornarVeiculos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDadosVeiculo/retornarVeiculosResponse" message="tns:IDadosVeiculo_retornarVeiculos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Correr">
      <wsdl:input wsaw:Action="http://tempuri.org/IDadosVeiculo/Correr" message="tns:IDadosVeiculo_Correr_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDadosVeiculo/CorrerResponse" message="tns:IDadosVeiculo_Correr_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="inserirVeiculo">
      <wsdl:input wsaw:Action="http://tempuri.org/IDadosVeiculo/inserirVeiculo" message="tns:IDadosVeiculo_inserirVeiculo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDadosVeiculo/inserirVeiculoResponse" message="tns:IDadosVeiculo_inserirVeiculo_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="webservice" type="tns:IDadosVeiculo">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="retornarVeiculos">
      <soap:operation soapAction="http://tempuri.org/IDadosVeiculo/retornarVeiculos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Correr">
      <soap:operation soapAction="http://tempuri.org/IDadosVeiculo/Correr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="inserirVeiculo">
      <soap:operation soapAction="http://tempuri.org/IDadosVeiculo/inserirVeiculo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DadosVeiculo">
    <wsdl:port name="webservice" binding="tns:webservice">
      <soap:address location="http://localhost:28355/ServicoDeDadoDeVeiculo.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>