Introdução NET e Servicos WCF/src2/JBS/IntegradorJBSSemParar/Service References/ServicoDeDados/ServicoDeDadoDeVeiculo2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:28355/ServicoDeDadoDeVeiculo.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DALVeiculo" />
  <xs:element name="retornarVeiculos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="retornarVeiculosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DALVeiculo" minOccurs="0" name="retornarVeiculosResult" nillable="true" type="q1:ArrayOfVeiculo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Correr">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CorrerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="inserirVeiculo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DALVeiculo" minOccurs="0" name="veiculo" nillable="true" type="q2:Veiculo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="inserirVeiculoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="inserirVeiculoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>